@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

body > * {
	box-sizing: border-box;
	font-family: 'Pretendard Variable', Pretendard, -apple-system,
		BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
		'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
	padding: 0px;
	margin: 0px;
}

#root {
	width: 80vw;
	max-width: 600px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0 auto;
}

.header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100px;
}

.form {
	width: 100%;
	height: 100px;
	display: flex;
}

.form__input {
	flex-grow: 1;
	height: 50px;
	font-size: 16px;
	padding-left: 20px;
	border: 0px;
	border-bottom: 1px solid #eee;
}

.form__input:focus {
	outline: 0px;
}

.form__button {
	flex-grow: 0;
	flex-shrink: 0;
	width: 50px;
	height: 50px;
	font-size: 16px;
	background-color: #fff;
	border: 0px;
	border-radius: 7px;
	cursor: pointer;
}

.form__button:hover {
	background-color: #f4f4f4;
}

.todo {
	list-style: none;
	padding: 0px;
}

.todo__item {
	font-size: 20px;
	padding-left: 20px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eee;
}

.todo__text--checked {
	text-decoration: line-through;
	color: #aaa;
}

.todo__delete-button {
	border: 0px;
	background-color: #fff;
	height: 30px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
}

.todo__delete-button:hover {
	background-color: #f4f4f4;
}
